*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.color-bg-primary{
  background-color: #1CC7C1;
}
.color-bg-dark{
  background-color: #3A4256;
}
.color-primary{
  color: #1CC7C1;
}

h5{
  font-weight: 600;
}
h1{
  letter-spacing: 2px;
}

button, btn-primary{
  background-color: #1CC7C1 !important;
}